* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.whole-body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wix-madefor-display-normal {
  font-family: "Wix Madefor Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  z-index: 0;
  display: flex;
}

.header li {
  display: flex;
  list-style: none;
  border-radius: 8px 45px;
  color: rgb(250, 221, 0);
  background-color: rgb(0, 200, 200, 1);
  padding: 8px 20px;
  line-height: 60px;
  font-size: 30px;
  text-align: center;
}

.container li:hover {
  text-decoration: underline;
}

.header {
  width: 100%;
  background-color: rgb(10, 10, 10, 0.7);
  display: flex;
  justify-content: space-between;
  border-bottom: solid rgb(10, 10, 10, 0.7) 6px;
  flex-wrap: wrap;
}
.header-section {
  background-color: rgb(250, 100, 255, 1);
  display: flex;
  gap: 2px;
  border-radius: 3px 60px;
  z-index: 1;
  padding: 3px 10px;
}

.main-section {
  flex: 2;
  flex-wrap: wrap;
}

.left {
  flex-direction: column;
  flex: 1;
  background-color: rgb(250, 100, 255, 0.4);
  padding: 5px;
}

.middle {
  flex: 5;
  border-bottom: black 5px solid;
  border-left: black 5px solid;
  border-right: black 5px solid;
  width: 80%;
}

.middle img {
  width: 100%;
  max-width: 100%;
  min-height: 10%;
  object-fit: cover;
}
.right {
  flex-direction: column;
  flex: 1;
  background-color: rgba(250, 221, 0, 0.4);
}
.right * {
  list-style: none;
  text-decoration: none;
}

.footer {
  background-color: rgba(41, 179, 179, 0.4);
  border: solid black 2px;
}
.left ul li {
  line-height: 20px;
  font-size: 10px;
  border-radius: 2;
}

.footer-container {
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  flex-direction: row;
  gap: 20px;
}

.footer-container > li {
  flex-wrap: wrap;
  padding: 3px 7px;
}

.gallery-main-section {
  align-items: center;
  flex: 5;
  flex-direction: column;
  padding: 0 10% 0 10%;
}

.gallery-main-section h1 {
  background-color: rgba(41, 179, 179, 0.8);
  border-radius: 8px 45px;
  padding: 3px 10px;
  margin: 12px;
  font-size: 55px;
  flex: 1;
  text-align: center;
  color: rgb(250, 221, 0);
  font-weight: 700;
}

.gallery-main-section table,
tr,
td {
  background-color: rgb(250, 100, 255, 0.4);
}

.gallery-main-section table {
  display: flex;
  padding: 8px;
}

.gallery-main-section table img {
  width: 100%;
  max-height: 300px;
}

.gallery-main-section table tr {
  align-content: center;

  display: flex;
}

.gallery-main-section table tr td {
  padding: 3px;
  flex: 1;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 5px;
}

.gallery-main-section table tr td p {
  text-align: center;
  background-color: rgb(250, 221, 0, 0.7);
  font-family: "";
  padding: 5px 15px;
  font-size: 20px;
  margin: 8px;
  line-height: 20px;
  font-weight: 700;
  box-shadow: 5px rgba(255, 94, 0, 0.5) 5px;
}

.img-submit-form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-submit-form h1 {
  background-color: rgba(41, 179, 179, 0.8);
  border-radius: 8px 45px;
  padding: 3px 10px;
  margin: 12px;
  font-size: 50px;
  text-align: center;
  color: rgb(250, 221, 0);
  font-weight: 700;
  flex-direction: column;
}

.img-submit-form form {
  border: goldenrod 5px solid;
  box-shadow: 10px 10px 10px black;
  background-color: rgb(250, 221, 0, 0.8);
  color: rgb(100, 0, 100);
  padding: 10px 30px;
  max-width: 40%;
  font-weight: 800;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 20px;
}

.friends-main {
  flex: 5;
  display: flex;
  flex-direction: row;
}

.friends-main > * {
  border: black 2px solid;
}

.friends-and-chats {
  flex: 2;
  flex-direction: column;
  margin: 10%;
  padding: 8px;
  background-color: rgb(250, 221, 0, 0.8);
}

.new-message {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 100, 255, 0.8);
  margin: 10%;
  padding: 8px;
}

.friends-and-chats ul {
  list-style: none;
  width: 60%;
  align-items: flex-start;
}

.new-message button:hover {
  rotate: 180deg;
  animation-duration: 100ms;
}

.friends-footer {
  flex: 1;
  background-color: rgba(0, 179, 179, 1);
}
